<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.rivtrans.tests.MeasureUnitTest"/>
      <class name="com.rivtrans.tests.LoginTest"/>
      <class name="com.rivtrans.tests.AuthoritiesTest"/>
    <!--  <class name="com.rivtrans.tests.RiverUnitTest"/> -->
      <class name="com.rivtrans.tests.UnitUseTest"/>
      <class name="com.rivtrans.tests.JobsTest"/>
      <class name="com.rivtrans.tests.CountriesTest"/>
      <class name="com.rivtrans.tests.DocumentsTest"/>
      <class name="com.rivtrans.tests.UnitNatureTest"/>
      <class name="com.rivtrans.tests.TechnicalEstimateTest"/>
      <class name="com.rivtrans.tests.MotorStateTest"/>
      <class name="com.rivtrans.tests.CitiesTest"/>
      <class name="com.rivtrans.tests.HomeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
